/* Typhography */
 
body {
    color: $text-color;
    font: normal 100% / 1.4 $text-font-stack;
    font-weight: $font-regular;
}
p {
    line-height: 2;
}
h1, h2, h3, h4, h5, h6 {
    color: $title-color;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
h1 {
    font-size: 90px;
    font-weight: $font-bold;
    text-transform: uppercase;
    margin-bottom: 45px;
    line-height: 1;
    &.title-line {
        margin-bottom: 60px;
    }
}
h2 {
    font-size: 48px;
    font-weight: $font-semibold;
    margin-bottom: 30px;
    letter-spacing: -2px;
    &.title-line {
        margin-bottom: 40px;
    }    
}
h3 {
    font-size: 32px;
    font-weight: $font-semibold;
    margin-bottom: 50px;
    &.title-line {
        margin-bottom: 60px;
    }    
}
h4 { 
    font-size: 24px;
    font-weight: $font-semibold;
    margin-bottom: 40px;
    &.title-line {
        margin-bottom: 50px;
    } 
}
h5 {
    font-size: 18px;
    font-weight: $font-semibold;
    margin-bottom: 30px;
    &.title-line {
        margin-bottom: 40px;
    } 
}
h6 {
    font-size: 16px;
    font-weight: $font-semibold;
    margin-bottom: 20px;
    &.title-line {
        margin-bottom: 30px;
    } 
}
h1, h2, h3, h4 {
    &.title-line {
        position: relative;
        &:before {
            content: '';
            width: 50px;
            height: 3px;
            background-color: $brand-primary-color;
            position: absolute;
            bottom: -15px;
            left: 0;
        }
        &:after {
            content: '';
            padding-bottom: 15px;
        }
    }
}
h5, h6 {
    &.title-line {
        position: relative;
        &:before {
            content: '';
            width: 38px;
            height: 2px;
            background-color: $border-color;
            position: absolute;
            bottom: -15px;
            left: 0;
        }
    }
}
small {
    font-size: 8px;
    font-weight: $font-semibold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $title-color;
}
.subtitle {
    font-size: 8px;
    font-weight: $font-semibold;
    color: $title-color;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &:before {
        content: '';
        width: 50px;
        height: 3px;
        margin-right: 10px;
        background-color: $brand-secondary-color;
    }
}
blockquote {
    background-color: $brand-primary-color;
    color: $primary-white;
    width: 100%;
    padding: 50px 100px 100px 100px;
    text-align: center;
    font-size: 18px;
    font-weight: $font-semibold;
    line-height: 36px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    &:after {
        content: '';
        background-image: url('../img/testimonials/testimonials-quote.svg');
        width: 44px;
        height: 40px;
        position: absolute;
        bottom: 35px;
        opacity: 0.3;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
ul.list-inline-check {
    list-style: none;
    padding: 0;
    display: flex;
    li {
        margin: 0 15px 0 20px;
        &:before{
            content: '';
            position: absolute;
            display: block;
            width: 6px;
            height: 13px;
            border: solid $brand-primary-color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            margin-left: -15px;
            margin-top: 2px;
        }

    }
    @include media-breakpoint-down(md) {
        flex-flow: wrap;
        li {
            margin-bottom: 10px;
        }
    }
}
@include media-breakpoint-down(md) {
    h1 {
        font-size: 32px;
        margin-bottom: 50px;
        &.title-line {
            margin-bottom: 60px;
        }
    }
    h2 {
        font-size: 28px;
        margin-bottom: 20px;
        &.title-line {
            margin-bottom: 60px;
        }    
    }
    h3 {
        font-size: 24px;
        margin-bottom: 15px;
        &.title-line {
            margin-bottom: 50px;
        }    
    }
    h4 { 
        font-size: 18px;
        margin-bottom: 15px;
        &.title-line {
            margin-bottom: 50px;
        } 
    }
    h5 {
        font-size: 16px;
        margin-bottom: 10px;
        &.title-line {
            margin-bottom: 40px;
        } 
    }
    h6 {
        font-size: 14px;
        margin-bottom: 10px;
        &.title-line {
            margin-bottom: 30px;
        } 
    }
    .subtitle {
        margin-bottom: 15px;
        &:before {
            content: none;
        }
    }
    blockquote {
        padding: 25px 15px 100px 15px;
        font-size: 16px;
    }
}