/* About */

.about {
    .social-channels {
        height: 100%;
        ul {
            display: flex;
            height: 100%;
            justify-content: space-around;
            padding: 70px 0;
            flex-flow: column;
            list-style: none;
            li {
                a {
                    i {
                        color: $title-color;
                        display: inline-block;
                        transform-origin: center;
                        transition: transform .4s ease;
                    }
                    &:hover, &:active, &:visited, &:focus {
                        text-decoration: none;
                    }
                    i:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
        @include media-breakpoint-down(xl) {
            ul {
                padding: 0;
                justify-content: space-evenly;
            }
        }
        @include media-breakpoint-down(lg) {
            ul {
                justify-content: center;
                padding: 0;
                flex-flow: column;

                li {
                    padding: 10px 0;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            ul {
                justify-content: space-evenly;
                padding: 0;
                flex-flow: nowrap;

                li {
                    padding: 10px 0;
                }
            }
        }
    }
    .experiences {
        .experience {
            display: flex;
            flex-flow: nowrap;
            position: relative;
            .experience__organization {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: $font-semibold;
                letter-spacing: 1px;
                color: $title-color;
                line-height: 1.8;
                width: 26%;
                text-align: right;
                word-break: break-all;
            }
            .experience__time {
                width: 2px;
                margin: 23px 20px 0 20px;
                background-color: $brand-primary-color;
                display: flex;
                justify-content: center;
                &:before {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background-color: $brand-primary-color;
                    position: absolute;
                    top: 7px;
                }
            }
            .experience__info {
                .experience__jobtitle {
                    color: $black;
                    font-size: 16px;
                    font-weight: $font-semibold;
                }
                .experience__tasks {
                    font-size: 14px;
                    margin-top: 10px;
                    margin-bottom: 50px;
                    flex-flow: column;
                    li {
                        margin-bottom: 5px;
                    }
                }
            }
            small {
                text-decoration: none;
                pointer-events: none;
                font-size: 10px;
            }
            &:last-of-type {
                .experience__time {
                    background-color: $shadow-color;
                }
                .experience__info {
                    .experience__tasks {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .bio {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        ul {
            display: flex;
            flex-flow: wrap;
        }
    }
    .bar {
        .bar-label {
            color: $black;
            font-size: 16px;
            font-weight: $font-semibold;
        }
        .bar-progress {
            float: right;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: $font-semibold;
            letter-spacing: 1px;
            color: $title-color;
        }
        .progress {
            margin-top: 5px;
            border-radius: 0;
            background-color: $shadow-color;
            height: 7px;
            .progress-bar {
                background-color: $brand-primary-color;
            }
        }
        &.bar--circle {
            text-align: center;
            float: left;
            .progress {
                width: 150px;
                height: 150px;
                background: none;
                position: relative;
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 7px solid $shadow-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &>span {
                    width: 50%;
                    height: 100%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                }
                .progress-left {
                    left: 0;
                }
                .progress-bar {
                  width: 100%;
                  height: 100%;
                  background: none;
                  border-width: 7px;
                  border-style: solid;
                  position: absolute;
                  top: 0;
                }
                .progress-left .progress-bar {
                    left: 100%;
                    border-top-right-radius: 80px;
                    border-bottom-right-radius: 80px;
                    border-left: 0;
                    -webkit-transform-origin: center left;
                    transform-origin: center left;
                }
                .progress-left .progress-bar {
                    left: 100%;
                    border-top-right-radius: 80px;
                    border-bottom-right-radius: 80px;
                    border-left: 0;
                    -webkit-transform-origin: center left;
                    transform-origin: center left;
                }
                .progress-right {
                    right: 0;
                }
                .progress-right .progress-bar {
                    left: -100%;
                    border-top-left-radius: 80px;
                    border-bottom-left-radius: 80px;
                    border-right: 0;
                    -webkit-transform-origin: center right;
                    transform-origin: center right;
                    
                }
                .bar-progress {
                    float: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
            }
            .bar-label {
                margin-top: 5px;
            }
            .border-primary {
                border-color: $brand-primary-color !important;
            }
            @include media-breakpoint-down(md) {
                display: flex;
                justify-content: center;
                flex-flow: column;
                align-items: center;
                text-align: center;
                float: none;
            }
        }
    }
    .services {
        i {
            font-size: 40px;
            color: $brand-primary-color;
            margin-right: 15px;
        }
    }
}