/* 
Dark CSS
========================================================================== 
*/

$text-color: #c0c0c0;
$title-color: #afafaf;
$brand-primary-color: #5f68bd;
$brand-secondary-color: #afafaf;
$background-primary-color: #18181b;
$background-secondary-color: #202125;
$shadow-color: #202125;
$border-color: #2b2c31;
$primary-white: #afafaf;
$navbar-color: #afafaf;
$navbar-color-inverted: #afafaf;
$btn-primary-bg-color: #5f68bd;
$btn-primary-bg-color-hover: #ffffff;
$btn-primary-txt-color:  #ffffff;
$btn-primary-txt-color-hover: #5f68bd;
$btn-secondary-bg-color: #5f68bd;
$btn-secondary-bg-color-hover: #5f68bd;
$btn-secondary-txt-color: #ffffff;
$btn-secondary-txt-color-hover: #ffffff;
$footer-bg: #18181c;
$footer-text: #afafaf;

@import
  'option-colors';