/* 
Dark CSS
========================================================================== 
*/
/* 
Easily change colors with just this CSS
========================================================================== 
*/
/* Brand Primary Color */
.input-border, .single-post .post__category.subtitle:before, .single-portfolio .next-project:after, .about .experiences .experience .experience__time, .about .experiences .experience .experience__time:before, .about .bar .progress .progress-bar, .blog-featured a:hover .featured__item .featured__title:after, .contact .contact__image .contact__wrapper ul.contact-methods li a:before, h1.title-line:before, h2.title-line:before, h3.title-line:before, h4.title-line:before, blockquote {
  background-color: #5f68bd;
}

a, .footer ul li a:after, .single-post .post__entry ul li:before, .about .services i, .pricing-tables .pricing-table ul li:before, .contact .contact__image .contact__wrapper ul.contact-methods li i {
  color: #5f68bd;
}

.about .bar.bar--circle .border-primary, .portfolio .portfolio__filters a.current, ul.list-inline-check li:before, .checkmark:after, .about .bar.bar--circle .border-primary {
  border-color: #5f68bd !important;
}

/* Preloader */
.preloader .preloader__spinner .spinner__ring:after {
  border-color: #afafaf transparent #5f68bd transparent;
}

/* Brand Secondary Color */
.subtitle:before, .navbar .navbar-toggler-icon .burger__line, .single-post .single-post__footer .post__comment-count a:after, .single-portfolio .next-project:before, .contact .contact__image .contact__wrapper ul.contact-methods li a:after {
  background-color: #afafaf;
}

.form-control, .form-control:focus {
  border-color: #afafaf;
}

.portfolio .portfolio__item .item__content .item__title i {
  color: #afafaf;
}

/* Text Color */
body, a:hover, a:active, a:focus {
  color: #c0c0c0;
}

/* Title Color */
h1, h2, h3, h4, h5, h6, small, .subtitle, .preloader .preloader__sitetitle, .preloader .preloader__text, .single-post .post__entry p.lead, .single-post .post__entry strong, .single-post .single-post__footer .post__comment-count, .single-post .single-post__footer .post__comment-count a, .single-post .post__author .author__text .social-channels li a i, .social-share span, .social-share ul li a, .social-share ul li a i, .single-portfolio p.lead, .single-portfolio .next-project, .about .social-channels ul li a i, .about .experiences .experience .experience__organization, .about .bar .bar-progress, .portfolio .portfolio__filters a, .portfolio .portfolio__filters a, .portfolio .portfolio__filters a.current, .pricing-tables .pricing-table .price, .contact .contact__image .contact__wrapper ul.contact-methods li, .contact .contact__image .contact__wrapper ul.contact-methods li a, .about .bar .bar-label, .about .experiences .experience .experience__info .experience__jobtitle, .form-control, .form-control:focus {
  color: #afafaf;
}

/* Background Primary Color */
body, .bg-f--primary, .preloader, .navbar.sticky, .form-control, .form-control:focus, .contact .contact__image .contact__wrapper {
  background-color: #18181b;
}

.testimonials .testimonial .testimonial__quote:after {
  border-color: #18181b transparent transparent transparent;
}

@media (max-width: 991.98px) {
  .navbar {
    background-color: #18181b;
  }
}

.navbar.navbar--color {
  background-color: #18181b;
}

/* Background Secondary Color */
.bg-f--secondary, .bg-f--secondary.bg-f--skewbottom:after {
  background-color: #202125;
}

/* Shadow Color */
.btn.btn--shadow, .btn.btn--shadow:not(:disabled):not(.disabled):active, .btn.btn--shadow:not(:disabled):not(.disabled).active, .btn.btn--shadow.show > .btn-primary.dropdown-toggle, .btn.btn--shadow:focus {
  -webkit-box-shadow: 16px 16px 0px #202125 !important;
  box-shadow: 16px 16px 0px #202125 !important;
}

.about .experiences .experience:last-of-type .experience__time, .about .bar .progress, .testimonials .testimonial .testimonial__quote p:after {
  background-color: #202125;
}

.about .bar.bar--circle .progress::after {
  border-color: #202125;
}

/* Border Color */
.table th, .table td, .table thead th, .table tbody + tbody, .table-bordered, .table-bordered th, .table-bordered td, .table .thead-light th, .modal-header, .modal-footer, .border, .border-top, .border-right, .border-bottom, .border-left, .table-dark th, .table-dark td, .table-dark thead th, .table-dark tbody + tbody, .table .thead-dark th, .single-post .post__author, .single-post .post__comments .post__comment, .pricing-tables .pricing-table, .testimonials .testimonial .testimonial__quote {
  border-color: #2b2c31;
}

.testimonials .testimonial .testimonial__quote:before {
  border-color: #2b2c31 transparent transparent transparent;
}

h5.title-line:before, h6.title-line:before {
  background-color: #2b2c31;
}

/* Navigation items */
.navbar.navbar--color ul li a, .navbar.sticky ul li a {
  color: #afafaf;
}

.navbar.sticky .navbar__slideline, .navbar.navbar--color .navbar__slideline {
  background-color: #afafaf;
}

.navbar ul li a {
  color: #afafaf;
}

.navbar .navbar__slideline {
  background-color: #afafaf;
}

/* Button primary colors */
.btn-primary, .btn-primary:focus, a.btn-primary:not([href]) {
  color: #ffffff;
  background-color: #5f68bd;
  border-color: #5f68bd;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary.show > .btn-primary.dropdown-toggle, .btn-primary:focus:hover, .btn-primary:focus:not(:disabled):not(.disabled):active, .btn-primary:focus:not(:disabled):not(.disabled).active, .btn-primary:focus.show > .btn-primary.dropdown-toggle, a.btn-primary:not([href]):hover {
  color: #5f68bd;
  background-color: #ffffff;
  border-color: #ffffff;
}

.portfolio .portfolio__item .item__content .item__category span, .portfolio .portfolio__item .item__content .item__category:before, .portfolio .portfolio__item .item__content .item__category span:before {
  color: #ffffff;
  background-color: #18181b;
}

/* Button secondary colors */
.btn-outline-primary, .btn-outline-primary:focus, .btn-outline-primary:not([href]) {
  border-color: #5f68bd;
  color: #ffffff;
}

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary.show > .btn-primary.dropdown-toggle, .btn-outline-primary:focus:hover, .btn-outline-primary:focus:not(:disabled):not(.disabled):active, .btn-outline-primary:focus:not(:disabled):not(.disabled).active, .btn-outline-primary:focus.show > .btn-primary.dropdown-toggle, a.btn-outline-primary:not([href]):hover {
  background-color: #5f68bd;
  border-color: #5f68bd;
}

.portfolio .portfolio__item .item__content .item__title span, .portfolio .portfolio__item .item__content .item__title:before, .portfolio .portfolio__item .item__content .item__title span:before {
  background-color: #5f68bd;
  color: #ffffff;
}

/* Primary white */
blockquote, .btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary.show > .btn-primary.dropdown-toggle, .btn-outline-primary:focus:hover, .btn-outline-primary:focus:not(:disabled):not(.disabled):active, .btn-outline-primary:focus:not(:disabled):not(.disabled).active, .btn-outline-primary:focus.show > .btn-primary.dropdown-toggle, .btn-outline-light, .btn-outline-light:focus, .jarallax .jarallax__content .subtitle, .jarallax .jarallax__content h2, .jarallax .jarallax__content p, .jarallax .jarallax__content small, .jarallax .jarallax__content .btn-outline-primary, .hero .hero__wrapper .hero__text .subtitle, .hero .hero__wrapper .hero__text h1, .hero .hero__wrapper .hero__text p, .hero .hero__wrapper .hero__text .ui-scroll, .hero .hero__wrapper .hero__text small, .hero .hero__wrapper .ui-scroll small, .blog-featured .featured__item .featured__content .featured__category, .blog-featured .featured__item .featured__content .featured__title {
  color: #afafaf;
}

.btn-light, .btn-light:focus, .jarallax .jarallax__content .subtitle:before, .hero .hero__wrapper .hero__text .subtitle:before, .hero .hero__wrapper .ui-scroll small:after, .blog-featured .featured__item .featured__content .featured__title:after {
  background-color: #afafaf;
}

.btn-light, .btn-light:focus, .btn-outline-light, .btn-outline-light:focus, .hero .hero__wrapper .ui-scroll .scroll-icon {
  border-color: #afafaf;
}

/* Footer */
.footer {
  background-color: #18181c;
}

.footer, .footer ul li a::before {
  color: #afafaf;
}
